.searchForm {
  display: flex;
  max-width: 300px;
  border-radius: 9999px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  & > input {
    flex: 1;
    padding: 0.75rem 1.5rem;
    border: none;
    outline: none;
    font-size: 1rem;
  }

  & > button {
    background: var(--primary-color);
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    transition: background 0.3s ease;

    &:hover {
      background: var(--secondary-color);
    }
  }
}
